.target {
  position: absolute;
  border-radius: 50px;
  width: 165px;
  height: 138px;
  cursor: pointer;
  user-select: none;
}

.target img {
  max-width: 100%;
  height: auto;
}

.target_img--hit {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
